GEMINI_API_KEY=""
LLM_PROVIDER="ollama" # Options: gemini, ollama
OLLAMA_MODEL="qwen3-vl:235b-cloud"
OLLAMA_BASE_URL="http://localhost:11434/v1"
OLLAMA_API_KEY=""

TTS_PROVIDER=""
TTS_PROVIDER_URL=""

UPLOAD_SECRET_KEY=""

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
DATABASE_URL=""
