GEMINI_API_KEY=""
LLM_PROVIDER="ollama" # Options: gemini, ollama
OLLAMA_MODEL="qwen3-vl:235b-cloud"
OLLAMA_BASE_URL="http://host.docker.internal:11434/v1"
OLLAMA_API_KEY=""

TTS_PROVIDER="gemini"

UPLOAD_SECRET_KEY=""
